img {
  transition: all 1s ease;
}

  /*Размытие*/
  .blur{
    filter: blur(20px);
  }
  /*Наложение оттенка*/
  .hue-rotate{
    filter: hue-rotate(250deg);
  }
    /*Чернобелое*/
  .grayscale{
filter: grayscale(100%);
  }
  /*Осветление*/
  .brightness{
filter: brightness(150%);
  }
  /*Контраст*/
  .contrast{
filter: contrast(170%);
  }


